attrs==25.3.0
beautifulsoup4==4.11.1
certifi==2025.1.31
chardet==5.2.0
charset-normalizer==3.4.1
cloudpickle==3.1.1
cycler==0.12.1
filelock==3.18.0
fonttools==4.57.0
fsspec==2025.3.2
gym==0.23.1
gym-notices==0.0.8
huggingface-hub==0.30.2
idna==3.10
importlib_metadata==8.6.1
jsonschema==3.2.0
kiwisolver==1.4.7
matplotlib==3.5.2
numpy==1.21.0
openapi-schema-validator==0.2.3
openapi-spec-validator==0.4.0
openapi3-parser==1.1.6
packaging==24.2
pandas==1.4.2
pillow==11.2.1
prance==23.6.21.0
pyparsing==3.2.3
pyrsistent==0.20.0
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
regex==2024.11.6
requests==2.32.3
ruamel.yaml==0.18.10
ruamel.yaml.clib==0.2.12
six==1.17.0
soupsieve==2.6
tokenizers==0.13.3
torch==1.13.0
tqdm==4.67.1
transformers==4.26.1
typing_extensions==4.13.2
urllib3==2.4.0
zipp==3.21.0